<h1>Products Catalog</h1>

<p *ngIf="!products"><em>Loading...</em></p>

<button (click)="exportToCsv()">Export to Csv</button>

<table class='table' *ngIf="products">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        <input *ngIf="product.edit" type="file" (change)="product.pendingChanges.setPhoto($event)" value="Select Photo"/>
        <img *ngIf="product.view && product.hasPhoto" src="{{product.photoUrl}}" width="50" >
      </td>
      <td>
        <span *ngIf="!product.edit">{{ product.code }}</span>
        <input *ngIf="product.edit" type="text" [(ngModel)]="product.pendingChanges.code">
      </td>
      <td>
        <span *ngIf="!product.edit">{{ product.name }}</span>
        <input *ngIf="product.edit" type="text" [(ngModel)]="product.pendingChanges.name">
      </td>
      <td>
        <span *ngIf="!product.edit">{{ product.price }}</span>
        <input *ngIf="product.edit" type="number" [(ngModel)]="product.pendingChanges.price">
      </td>
      <td>{{ product.lastUpdated }}</td>
      <td>
        <div *ngIf="product.new">
          <button (click)="create(product)" *ngIf="!product.priceConfirmationRequired">Add</button>
          <button (click)="create(product, true)" *ngIf="product.priceConfirmationRequired">Confirm</button>
        </div>
        <div *ngIf="product.view">
          <button (click)="product.startEdit()">Edit</button>
          <button (click)="remove(product)">Remove</button>
        </div>
        <div *ngIf="product.edit && !product.new">
          <button (click)="update(product)" *ngIf="!product.priceConfirmationRequired">Save</button>
          <button (click)="update(product, true)" *ngIf="product.priceConfirmationRequired">Confirm</button>
          <button (click)="product.rejectEdit()">Cancel</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>